* {box-sizing: border-box;
  ul {list-style-type:none;
  }
}

* {box-sizing: border-box;
}

body{
background:gold;

}
.container{
  max-width:800px;
  margin:auto;
  font-family:sans-serif;
}
.month{
  text-align:center;
  background:darkorange;
  font-size:2.5em;
  letter-spacing:1px;
  color:white;
  padding:25px;
  border:1px solid skyblue;
}

table,th, td {
  width:100%;
  table-layout: fixed;
  text-align:center;
  font-size:17px;
  border-collapse:collapse;
  border:1px solid skyblue;
}

tr, th, td{
  padding:15px;
}

th{
  background:goldenrod;
  color:white;
}

td{
  background:darksalmon;
}

td:hover{
  background:orange;
}



